@using DragonSpark.Application.Entities.Queries.Runtime
@using DragonSpark.Application.Entities.Queries.Runtime.Shape
@using DragonSpark.Presentation.Components.Content

@typeparam T

<QueryContentContainer
	Content="@Content"
	Compose="@Compose"
	Pagers="@Pagers"
	LoadingTemplate="@LoadingTemplate"
	NoElementsFoundTemplate="@NoElementsFoundTemplate"
	NotAssignedTemplate="@NotAssignedTemplate"
	ExceptionTemplate="@ExceptionTemplate"
>
	@ChildContent(DataRequests<T>.Default.Get(context))
</QueryContentContainer>

@code {

	[Parameter]
	public IQueries<T>? Content { get; set; }

	[Parameter]
	public bool IncludeCount { get; set; } = true;

	[Parameter]
	public ICompose<T> Compose { get; set; } = SyncfusionCompose<T>.Default;

	[Parameter]
	public IPagers<T> Pagers { get; set; } = Pagers<T>.Default;

	[Parameter]
	public RenderFragment LoadingTemplate { get; set; } = DefaultLoadingTemplate.Default;

	[Parameter]
	public RenderFragment<IDataRequest> ChildContent { get; set; } = default!;

	[Parameter]
	public RenderFragment? NoElementsFoundTemplate { get; set; }

	[Parameter]
	public RenderFragment NotAssignedTemplate { get; set; }
		= @<p>No instance was found for this view's content.</p> ;

	[Parameter]
	public RenderFragment ExceptionTemplate { get; set; } = DefaultExceptionTemplate.Default;
}