@using Microsoft.FluentUI.AspNetCore.Components

<div class="fluent-wizard-buttons" border-inside="@Border.HasFlag(WizardBorder.Inside)">
    @if (ButtonTemplate is not null)
    {
        @ButtonTemplate
    }
    else
    {
        <ButtonContainerComponent>
            @if (context.Previous is not null)
            {
                <FluentButton Appearance="Appearance.Neutral" OnClick="@context.Previous.Action" Disabled="@context.Active">@context.Previous.Text</FluentButton>
            }

            <span style="margin-right: 10px"></span>

            <FluentButton Appearance="@Appearance.Accent" OnClick="@context.Next.Action" Disabled="@context.Active">@context.Next.Text</FluentButton>
        </ButtonContainerComponent>
    }
</div>

@code {
    [Parameter]
    public WizardBorder Border { get; set; } = WizardBorder.None;

    [Parameter]
    public RenderFragment? ButtonTemplate { get; set; }
}