@using DragonSpark.Application.Entities.Queries.Runtime
@using DragonSpark.Application.Entities.Queries.Runtime.Pagination
@using DragonSpark.Application.Entities.Queries.Runtime.Shape
@using DragonSpark.Application.Runtime.Operations

@typeparam T

@inherits DragonSpark.Presentation.Components.Content.Templates.ManyActiveContentTemplateComponentBase<IRadzenPaging<T>>

<div>
	<QueryContentContainer
		Content="@Content"
		Compose="@Compose"
		LoadingTemplate="@LoadingTemplate"
		EmptyElementsTemplate="@EmptyElementsTemplate"
		NotFoundTemplate="@NotFoundTemplate"
		ExceptionTemplate="@ExceptionTemplate"
	>
		<RefreshContainer Topic="@Content">
			<RadzenPagingContainer
				Content="@context"
				ChildContent="@ChildContent"
				LoadingTemplate="@LoadingTemplate"
				NotFoundTemplate="@NotFoundTemplate"
				ExceptionTemplate="@ExceptionTemplate"
				Reporter="@Reporter"
			/>
		</RefreshContainer>
	</QueryContentContainer>
</div>

@code {
	[Parameter]
	public IQueries<T>? Content { get; set; }

	[Parameter]
	public IReporter<IPages<T>, IRadzenPaging<T>> Reporter { get; set; } = RadzenReporter<T>.Default;

	[Parameter]
	public ICompose<T> Compose { get; set; } = DefaultCompose<T>.Default;
}

